/* GLOBAL */

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
}


li {
  list-style: none;
}

section {
  background-color: inherit;
  transition: all .3s ease;
} 


nav,
.scroll,
.header,
#projects,
footer {
  opacity: 1;
  visibility: visible;
  transition: all .6s .3s;

}

.modal--open nav,
.modal--open .scroll,
.modal--open .header,
.modal--open #projects,
.modal--open footer,
.modal--open .shape,
.modal--open .mail__btn {
  opacity: 0;
  visibility: hidden;
  transition: ease all .4s;
}

.header__content {
  position: relative;
  z-index: 2;
}

.container {
  padding: 100px 0;
}


.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
}

.click{
  cursor: pointer;
  transition: all .3s ease;
}

.click:hover{
  transform: scale(1.1);
}

.click:active{
  transform: scale(.9);
}

.blue {
  color: #1186fb;
}


hr {
  border: 1px solid black;
  margin: 8px 0;
}


.title{ 
  font-size: 100px;
  text-align: left;
  line-height: 1;

}

p {
  font-size: 16px;
  line-height: 1.5;
}

button {
  cursor: pointer;
}

label {
  font-size: 14px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  background-color: #242424;
  color: white;
  outline: none;
  border: 3px solid #c0c4cc;
  border-top: none;
  border-right: none;
  border-left: none;
  height: 40px;
  transition: all 0.3s ease;
}

input:hover, textarea:hover {
  border-color: #dcdfe6;
}

input:focus, textarea:focus {
  border-color: #1186fb;
}

textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}

.dark-theme {
  background-color: #242424;
}

.dark-theme .title,
.dark-theme .section__title,
.dark-theme .section__sub-title,
.dark-theme .fa-adjust,
.dark-theme .header__para,
.dark-theme .modal__exit{
  color: white;
}

.dark-theme .link__hover-effect--white:after{
  background-color: black;
}

.dark-theme .link__hover-effect--black:after{
  background-color: white;
}

.dark-theme .footer__social--list .link__hover-effect--white:after{
  background-color: white;
}

.dark-theme .mail__btn {
  color: #242424;
}


.dark-theme section,
.dark-theme footer {
  background-color: #242424;
}

.dark-theme .modal {
  background-color: #242424;
}

.dark-theme .modal__about {
  background-color: #242424;
  color: white;
}

.dark-theme hr  {
  border-color: white;
}

.dark-theme #personal-logo  {
  filter: invert(100%);
}

.dark-theme .shape {
  filter: invert(95%);
}



/* LINK HOVER EFFECT */
.link__hover-effect {
  position: relative;
  display: inline-block;
}

.link__hover-effect:after {
  cursor: pointer;
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -4px;
  right: 0;
  transition: width 0.3s ease;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

.link__hover-effect--black:after{
  background-color: black;
}
.link__hover-effect--white:after{
  background-color: white;
}

.link__hover-effect--blue:after{
  background-color: #1186fb;
}



/* 

KEYFRAMES 

*/

/* SCROLL ICON ANIMATION */
@keyframes scroll {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

@keyframes spinner{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }

}


/* 

MODAL

*/


.modal{
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  max-height: calc(100vh - 40px);
  
  border-radius: 20px;
  overflow: hidden;
  visibility: hidden;
  transition: visibility .5s, box-shadow 0.3s ease-in-out;
 
}

.modal--open .modal {
  z-index: 100;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.55);
  visibility: visible;
}

.modal__half{
  position: relative; 
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease-in;
}

.modal--open .modal__about,
.modal--open .modal__contact{
  transform: translateX(0%);
}

.modal__about{
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-110%);
}

.modal__languages{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.modal__language{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  padding: 8px 0;
  width: 25%;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.modal__language:hover{
  filter:brightness(80%);
  transform: scale(.9);
}

.modal__language:hover .language__name{
  transform: scale(1);
}

.modal__language--img{
  width: 100%;
}

.modal__language:last-of-type .modal__language--img{
  filter: brightness(.95);
}

.modal__contact{
  background-color: black;
  color: white;
  transform: translateX(110%);
}

.modal__title{
  font-size: 32px;
}

.modal__sub-title{
  font-size: 24px;
  margin: 8px 0 24px 0;
}

.modal__para {
  font-size: 18px;
  line-height: 1.75;
}

.language__name{
  position: absolute;
  bottom: -10px;
  transform: scale(0);
  transition: all 0.3s ease;
}

.modal__contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__item{
  margin-bottom: 20px;
}

.form__submit {
  font-size: 20px;
  font-weight: bold;
  background-color: #1186fb;
  border: 2px solid #1186fb;
  border-radius: 2px;
  color: white;
  width: 100%;
  max-width: 240px;
  padding: 12px 24px;
  transition:all 0.3s ease;
}

.form__submit:hover {
  border-color: #fff;
  background-color: transparent;
}

.form__submit:active {
  border-color: #1186fb;
  color: #1186fb;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: -1;
  transition: all 0.3s ease;
}

.modal__overlay--loading {
  background-color: #1186fb;
  font-size: 80px;
}
  

.modal__overlay--success{
  background-color: limegreen;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 28px;
}

.modal__overlay--visible {
  z-index: 1;
  display: flex;
}

.fa-spinner {
  animation: spinner 1s  infinite;
  color: white;
}

.modal__exit{
  position: absolute;
  top: 30px;
  right: 40px;
  color: #fff;
  font-size: 36px;
  z-index: 100;
}




/* 


    NAV 
    
      
*/


nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 100px;
  padding: 12px 20px;
  margin: 0 auto;
}


#personal-logo{
  width: 80px;
  height: 80px;
}

.nav__link--list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link{
  margin: 0 12px;
}



.nav__link--anchor{
  font-size: 24px;
  color: #1186fb;
  margin-right: 12px;
  font-weight: 600;
}



.fa-circle-half-stroke{
  font-size: 32px;
  cursor: pointer;
}



/* 


    LANDING PAGE 
    
      
*/


#landingpage{
  min-height: 100vh;
}

.header{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  padding: 0 32px;
}

.header__para{
  position: relative;
  font-size: 20px;
  margin: 24px 0;
  line-height: 2;
  max-width: 600px;
  z-index: 100;
}

.social__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  width: 80px;
  max-width: 100px;
}

.social__link{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0353A4;
  border-radius: 50%;
  color: white;
  padding: 6px;
  width: 32px;
  height: 32px;
  font-size: 14px;
  margin-right: 12px;

}

.mail__btn{
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 50%;
  border: none;
  background-color: #1186fb;
  color: white;
  position: fixed;
  bottom: 32px;
  right: 40px;
  z-index: 100;
  transition: all 0.3s ease;
}

.mail__btn:hover{
  background-color: #0d6ed4;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

footer .scroll {
  position: relative;
  bottom: auto;
  left: auto;
  transform: none;
  margin-bottom: 10px;
}



.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid #1186fb;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon::after{
  content: "";
  width: 4px;
  height: 6px;
  background-color: #1186fb;
  border-radius: 24px;
  animation: scroll 1.3s infinite alternate-reverse;
}

.footer__scroll-icon {
  width: 20px;
  height: 30px;
  border: 2px solid #1186fb;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__scroll-icon::after {
  content: "";
  width: 4px;
  height: 6px;
  background-color: #1186fb;
  border-radius: 24px;
  animation: scroll 1.3s infinite alternate-reverse;
}



/* 

PROJECTS

*/

.section__title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
}

.project__list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 150px;
}

/* PROJECT WRAPPER */

.project__wrapper{
  position: relative;
  border-radius: 12px;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.35);
  overflow: hidden;
}


.project__wrapper:hover .project__description{
  opacity: 1;
  transform: translateY(-50%);

}

.project__wrapper:hover .project__img{
  transform: scale(1.03);
  filter: blur(3px);
}

.project__wrapper:hover .project__wrapper--bg{
  opacity: 0.7;
}


.project__wrapper--bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #022d59;
  border-radius: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* PROJECT IMG */

.project__img{
  width: 100%;
  display: block;
}
.project__img{
  transition: all 0.3s ease;
}


/* PROJECT DESCRIPTION */



.project__description{
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  opacity: 0;
  color: white;
  max-width: 550px;
  transition: opacity 0.3s ease, transform 0.4s ease;
}

.project__description--title{
  font-size: 58px;
}

.project__description--sub-title{
  font-size: 42px;
  margin: 12px 0;
}

.project__description--para{
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 12px;
}

.project__description--link{
  font-size: 32px;
  color: #3da1ff;
}


/* 

FOOTER

*/

footer{
  position: relative;
  background-color: white;
  display: flex;
  padding: 6% 0;
}


footer .container{
  padding: 40px 0;
  width: 100%;
}

footer .row{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 60px;
  color: black;
}

footer .scroll {
  position: relative;
  bottom: auto;
  left: auto;
  transform: none;
  margin-bottom: 10px;
}


.footer__logo{
  width: 120px;
 
}

.footer__social--list{
  display: flex;
  width: 100%;
  max-width: 500px;
  align-items: center;
  justify-content: space-around;
 
  
}

.footer__social--link{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1186fb;
  font-size: 20px;
}

.footer__copyright {
  font-size: 14px;
  color:#1186fb;
}

/* 

SHAPES

*/
.shape{
  position: fixed;
  transition: opacity 1s ease, visibility 1s ease;

}
.shape--0 {
  top: 15vh;
  left: 5vw;
} 
.shape--1 {
  top: 15vh;
  left: 50vw;
} 
.shape--2 {
  top: 15vh;
  left: 80vw;
} 
.shape--3 {
  top: 49vh; 
  left: 5vw;
} 
.shape--4 {
  top: 49vh; 
  left: 50vw;
} 
.shape--5 {
  top: 49vh; 
  left: 80vw;
} 
.shape--6 {
  top: 80vh; 
  left: 5vw;
} 
.shape--7 {
  top: 80vh; 
  left: 50vw;
} 
.shape--8 {
  top: 80vh; 
  left: 80vw;
} 


/* Media Qs */

@media (max-width: 768px) {

  .shape {
    display: none;
  }

  .title {
    font-size: 80px;
  }

  .header__para {
    font-size: 20px;
  }

  .project__description--title {
    font-size: 42px;
  }

  .project__description--sub-title {
    font-size: 28px;
  }

  .project__description--para {
    font-size: 18px;
  }

  .mail__btn {
    width: 60px;
    height: 60px;
    font-size: 28px;
    margin: 8px;
  }

  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 90%;
    flex-direction: column;
    border-radius: 8px;
  }
  
  .modal__half {
    width: 100%;
    padding: 20px;
  }

  .modal__title {
    font-size: 28px;
  }

  .modal__sub-title {
    font-size: 20px;
    margin: 8px 0 12px 0;
  }

  .modal__para--about {
    line-height: 1.25;
  }

  .modal__language {
    width: 25%;
    margin-bottom: 4px;
  }

  .modal__language--img {
    width: 30%;
  }

   .modal__exit {
    color: black;
    top: -350px;
    right: 5px;
  }

   .mail__btn {
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 10px;
    font-size: 26px;
    margin: 8px;
  }

  #contact__submit {
    margin: 0 auto;
    padding: 8px 18px;
  }

  .form__item:last-of-type {
    margin-bottom: 12px;
  }
}
  


@media (max-width: 480px) {

  #personal-logo {
    width: 40px;
    height: 40px;
  }

  .nav__link--anchor {
    font-size: 18px;
  }
  .title {
    font-size: 42px;
  }

  .section__title {
    font-size: 32px;
  }
  
  .header__para {
    font-size: 18px;
  }

  .nav__link:first-child {
    display: none;
  }

  .project__description--para {
    display: none;
  }

  .project__description {
    left: 0;
    padding: 0 10px;
    width: 100%;
    text-align: center;
  }

  .project__description--sub-title {
    margin-bottom: 8px;
  }

  .modal__half {
    padding: 16px;
  }

  .modal__title {
    font-size: 24px;
  }

  .modal__sub-title {
    font-size: 18px;
    margin: 8px 0 12px 0;
  }

  .modal__para {
    font-size: 16px;
    line-height: 1.25;
  }

  .modal__exit {
    top: -350px;
    right: 5px;
  }

  .modal__language {
    margin-bottom: 4px;
  }

  .form__item:last-of-type {
    margin-bottom: 12px;
  }

  #contact__submit {
    margin: 0 auto;
    padding: 8px 16px;
  }

  .mail__btn {
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    margin: 8px;
  }

  .footer__logo {
    height: 50px;
    width: 50px;
  }

  .footer__social--link{
    font-size: 18px;
  }
}



@media (max-width: 390px) {

  #personal-logo {
    width: 35px;
    height: 35px;
  }

  .nav__link--anchor {
    font-size: 16px;
  }

  .fa-adjust{
    font-size: 28px;
  }

  .project__description--title {
    font-size: 32px;
  }

  .project__description--sub-title {
    font-size: 20px;
  }

  .modal__half {
    padding: 16px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__sub-title {
    font-size: 16px;
    margin: 8px 0 12px 0;
  }

  .modal__para {
    font-size: 14px;
    line-height: 1.25;
  }

  #contact__submit {
    margin: 0 auto;
    font-size: 16px;
    padding: 4px 4px;
    width: 60%;
  }

  .modal__exit {
  top: -330px;
  right: 5px;
  font-size: 26px;
  }

  .footer__social--link{
  font-size: 16px;
  }

  .footer__copyright p {
  font-size: 12px;
  }

}
  